ul {
    align-items: center;
}

li {
    display: inline; 
    padding-left: 20px;  

}

header {
    padding-bottom: 20px;
}

.headerNav {
    position: relative;
    left: 1000px;
    top: -10px;

}

div {

}

.products {
    padding-bottom: 20px;
    position: relative;
    top: -45px;
    
}

#shopNow {
    position: relative;
    bottom: -20px;
    border-radius: 2px;
    width: 120px;
    height: 50px;
    background-color: #555;
    color: white;

    border-color: #555;
}

.section1 {
    background-color: greenyellow;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.section3 {
    background-color: green;
    text-align: center;
}